<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ITBank</display-name>
  <welcome-file-list>
    <welcome-file>about.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.itbank.view.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.itbank.view.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.itbank.view.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectLogin</display-name>
    <servlet-name>DirectLogin</servlet-name>
    <servlet-class>com.itbank.view.DirectLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectLogin</servlet-name>
    <url-pattern>/DirectLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankDetail</display-name>
    <servlet-name>BankDetail</servlet-name>
    <servlet-class>com.itbank.view.BankDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankDetail</servlet-name>
    <url-pattern>/BankDetail</url-pattern>
  </servlet-mapping>
</web-app>